

<style>
  .image{
    height: 100%;
    max-height: 220px;
    width: auto;
    max-width: 220px;

  }


</style>


<div class="col-md-12" style="background-color: #1abc9c;">
  <nav class="nav nav-pills flex-column flex-sm-row">
<a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a>
<a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
<a class="flex-sm-fill text-sm-center nav-link">
 <%= link_to 'Sign Out', sessions_path, method: :delete %>
 <%= link_to 'Sign in', new_sessions_path %>
</a>

<a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
</nav>

</div>
<div class="row">
  <div class="col-md-2" style="background-color: #1abc9c;" >

  sss<br />  sss<br />   sss<br />  sss<br /> sss<br />  sss<br />  sss<br />  sss<br />
  </div>

 <div class="row col-md-8">
 <!-- Check the list of all activities in order -->
 <%   @activities.each do |act| %>
   <% like_exist = false %>

   <div class=" col-md-4 ">
      <div style="font-size:130%;" > <%= act.name  %> </div>
      <div>  <%= image_tag act.url_img, class: "image" %> </div>

  <!-- For each activity check in the list of all users that liked this activity to find whether is the current user  -->

    <% act.liked_user.each do |usr|  %>
        <% if (@liked != nil && usr.id == current_user.id) %>
              <% like_exist = true %>
              <%=  icon('fas', 'heart',  id: 'my-icon', class: 'strong') %>
              <%= link_to "Remove",  activity_like_path(act.id, current_user.id), method: :delete %>
         <% end %>
     <% end %>

     <% if like_exist == false %>
         <%=  icon('far', 'heart',  id: 'my-icon', class: 'strong') %>
       <%= link_to "Add", activity_likes_path(act.id), class: "icon-big", method: :post  %>
     <% end %>


   </div>
     <% a = Like.where(activity_id: act.id) %>
     <% a.size %>
     <% session[:user_id].present? %>
     <% user_signed_in? %>


<% end %>

</div>
</div>
