

aa
<%= @post.location %>
  <%= @post.title %> 
  <%= @post.body %> 


  <% @comments.each do |c| %>
  <h1> <%= c.body %> </h1>
  <% end %>

  <%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
  <% end %>

  